.Container{
    display:flex;
    border-radius: 0.7rem;
    box-sizing:content-box;
    background-color: darkblue;
    border: 2px white solid;
    justify-content: center;
    color: whitesmoke;
    box-shadow: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    height: auto;

}
.header1{
    flex: 0.5;
    margin-top: 0.2rem;
}
.header2{
    margin-top: 0.2rem;
    flex: 0.15;
    display:flex;
}
.home{
    flex: 1;
    margin-top: 0.6rem;
}
.home :hover{
    color: #ff9900 !important;
}
.home a:hover{
    /* color: #aad8e6 !important; */
    color: #ff9900 !important;
} 
